[user]
	email = 'araya@araya.dev'
	name = 'araya'

[includeIf "gitdir:~/dev/src/github.com/Nikkei/**"]
	path = .gitconfig-nikkei
[includeIf "gitdir:~/dev/src/github.com/Nikkei/**"]
	path = .gitconfig-nikkei

[core]
	excludesFile = ./.gitignore_global
[commit]
	verbose = true

[ghq]
root = /Users/ryomaabe/dev/src
[pull]
	rebase = true
[init]
	defaultBranch = main
